<div class="restRoom" >
    <div ng-repeat="x in [1,2,3,4]">
        <img src="../images/food-1.png" id="{{'food_image'+$index}}">
    </div>
    <div class="row content_info" style="padding: 0.35rem">
        <div class="col-lg-2">
            <div class="info_content">
                <span class="info-heading" style="font-size: 1.7rem">FOOD</span>
                <img class="info_img" src="../images/food-2.png">
            </div>
        </div>
        <div class="col-lg-10 merch-container-fluid">
            <div class="card-deck">
                        <div class="card merch_card">
                            <div class="card-body">
                                <canvas id="food1"  height="110"></canvas>
                                <p class="location">LOCATION1</p>
                            </div>
                        </div>

                        <div class="card merch_card">
                            <div class="card-body">
                                <canvas id="food2"  height="110"></canvas>
                                <p class="location">LOCATION2</p>
                            </div>
                        </div>

                        <div class="card merch_card">
                            <div class="card-body">
                                <canvas id="food3"  height="110"></canvas>
                                <p class="location">LOCATION3</p>
                            </div>
                        </div>

                        <div class="card merch_card">
                            <div class="card-body">
                                <canvas id="food4"  height="110"></canvas>
                                <p class="location">LOCATION4</p>
                            </div>
                        </div>
                						
            </div>
        </div>
    </div>
</div>