<div class="restRoom" >
    <div ng-repeat="x in [1,2,3,4]">
        <img src="../images/paramedics-1.png" id="{{'medical_img'+$index}}">
    </div>
    <div class="row content_info" style="padding: 0.35rem">
        <div class="col-lg-2">
            <div class="info_content">
                <span class="info-heading" style="font-size: 1.7rem">PARAMEDICS</span>
                <img class="info_img" src="../images/paramedics-sign.png">
            </div>
        </div>
        <div class="col-lg-10 merch-container-fluid">
            <div class="card-deck">
                <div class="card merch_card">
                    <div class="card-body">
                        <div class="row justify-content-center circle">
                            <div class="col-lg-3">
                                <div class="circleBase greenFilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase yellowUnfilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase redUnfilled"></div>
                            </div>
                        </div>
                        <p class="status">Status</p>
                        <p class="location">TEAM1</p>
                    </div>
                </div>

                <div class="card merch_card">
                    <div class="card-body">
                        <div class="row justify-content-center circle">
                            <div class="col-lg-3">
                                <div class="circleBase greenFilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase yellowUnfilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase redUnfilled"></div>
                            </div>
                        </div>
                        <p class="status">Status</p>
                        <p class="location">TEAM2</p>
                    </div>
                </div>

                <div class="card merch_card">
                    <div class="card-body">
                        <div class="row justify-content-center circle">
                            <div class="col-lg-3">
                                <div class="circleBase greenUnfilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase yellowFilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase redUnfilled"></div>
                            </div>
                        </div>
                        <p class="status">Status</p>
                        <p class="location">TEAM3</p>
                    </div>
                </div>

                <div class="card merch_card">
                    <div class="card-body">
                        <div class="row justify-content-center circle">
                            <div class="col-lg-3">
                                <div class="circleBase greenUnfilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase yellowUnfilled"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="circleBase redFilled"></div>
                            </div>
                        </div>
                        <p class="status">Status</p>
                        <p class="location">TEAM4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>