
@font-face {
    font-family: qualcommMedium;
    src: url("../vendor/font/QualcommNext-Medium.otf") format("opentype");
}
@font-face {
    font-family: qualcommRegular;
    src: url("../vendor/font/QualcommNext-Regular.otf") format("opentype");
}
@font-face {
    font-family: qualcommThin;
    src: url("../vendor/font/QualcommNext-Thin.otf") format("opentype");
}

body{
    background-image: url("../images/background-map-demo-3.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.wrapper {
    display: flex;
    width: 100%;
}
#sidenav {
    width: 27%;
    position: fixed;
    top: 0;
    /* left: -370px; */
    height: 100vh;
    z-index: 999;
    background: white;
    transition: all 0.3s;
	/* overflow-y: auto; */
	overflow-y: hidden; 
	border-right: 4px solid black;
}

.content {
    width: 73%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
	right: 0;
	left: 27%;
	padding: 1rem;
}

.weather_forecast{
	background-color: rgb(118, 160, 239);
	color: white;
	text-align: center;
	font-family: qualcommRegular;
	font-size: 1.2rem;
}
.current_time{
	background-color: rgb(21, 78, 183);
	margin-left: -15px;
	margin-right: -15px;
	padding: 5px;
	font-family: qualcommMedium;
	font-size: 1.75rem;
}
.temperature_img{
	margin-left: 15px;
}
.temperature_value{
	margin-left: -30px;
}
.temperture_fer{
	margin-bottom: 0rem;
	font-size: 1.75rem;
	margin-top: -0.5rem;
}
.temperture_cal{
	font-size: 1.2rem;
}
.cloud_img{
	margin-bottom: 40px;
	margin-left: -15px;
}
.chart_heading{
	text-align : center;
	font-family: qualcommThin;
	font-size: 1.5rem;
	padding: 1rem;
}
.wind_status_div p{
	padding: 0rem;
}
.UV_index_div p{
	padding: 0rem;
}
.wind_uv_row{
	margin-left: -10px!important;
	margin-right: -4px!important;
	margin-top: 1.5rem;
}
.UV_index_div{
	background-color: rgba(0,0,0,0.05);
	padding: 1rem;
	margin-left: 6px;
	margin-right: -11px;
}
.wind_status_div{
	background-color: rgba(0,0,0,0.05);
	padding: 1rem;	
}
#wind_status{
	margin-left: 10px;
}
#UV_index{
	margin-left: 12px;
}
.chart_label{
	margin-top: -3.8rem;
	text-align: center;
}
.chart_label p{
	margin-top: -0.5rem;
	margin-bottom: 0rem;
}
.label1{
	color: rgb(21, 78, 183);
	font-family: qualcommMedium;
}
.label2{
	color: rgb(21, 78, 183);
	font-family: qualcommMedium;
}
.label3{
	margin-top: -0.1rem!important;
	color: rgba(0,0,0);
	font-family: qualcommThin;
	font-size: 0.6rem;
}
.uv_label{
	text-align: center;
	margin-top: -2rem;
	font-size: 1.2rem;
	color: rgb(21, 78, 183);
	font-family: qualcommMedium;
}
.content_info{
	position: fixed;
	width: 73%;
	bottom: 0;
	background-color: white;
	padding-left: 1rem;
	padding-right: 1rem;
}
.info_content{
	text-align: center;
	display: grid;
}
.info-heading{
	font-family: qualcommRegular;
	font-size: 2rem;
	color: rgba(0,0,0,0.6);
	/* margin-top: 1rem; */

}
.info_img{
	margin-left: auto;
	margin-right: auto;
}
.screen_info_chart{
	padding-left: 0!important;
}

.capacity{
	font-family: qualcommRegular;
	color: rgba(0,0,0,0.6);
}
.wait_time{
	font-family: qualcommRegular;
	color: rgba(0,0,0,0.6);
	margin-left: -1rem;
}
.location{
	font-family: qualcommThin;
	color: rgba(0,0,0,0.6);
	font-weight: bold;
	text-align: center;
}
.time{
	font-family: qualcommMedium;
	color: rgba(0,0,0,0.6);
	font-size: 1.2rem;
	margin-left: -1.5rem;
}
#capacity1,#capacity2,#capacity3,#capacity4,#capacity5{
	margin-left: 0.7rem;
}
#image0{
	position: absolute;
	top: 18%;
	left: 27%;
}
#image1{
	position: absolute;
	left: 81%;
	top: 22%;
}
#image2{
	position: absolute;
	left: 36%;
	top: 48%;
}
#image3{
	position: absolute;
    top: 62%;
    left: 18%;
}
#image4{
	position: absolute;
	left: 57%;
	top: 62%;
}

.merch_card{
	border: 0px!important;
}
.merch_card .card-body{
	padding: 0!important;
}
.merch-container-fluid{
	background-color: rgba(0,0,0,0.05);
	padding: 0.5rem;
}
.restroom-container-fluid{
	background-color: rgba(0,0,0,0.05);
	padding: 0.5rem;
}
.restroom-container-fluid .location{
	margin-top: 0.1rem;
	margin-bottom: 0rem;
}
.restroom-container-fluid .card{
	border: 0px!important;
}
.restroom_cardbody{
	padding: 0!important;
}
.merch-card-deck{
	margin-right: 0!important;
	margin-left: 0!important;
	/* margin-top: -10px; */
	width: 100%;
}
#merch_image0{
	position: absolute;
	left: 43%;
	top: 17%;
}
#merch_image1{
	position: absolute;
	left: 81%;
	top: 21%;
}
#merch_image2{
	position: absolute;
	top: 65%;
	left: 17%;
}
#merch_image3{
	position: absolute;
	left: 48%;
	top: 58%;
}
#food_image0{
	position: absolute;
	top: 12%;
	left: 83%;
}
#food_image1{
	position: absolute;
	top: 54%;
	left: 27%;
}
#food_image2{
	position: absolute;
	top: 53%;
	left: 77%;
}
#food_image3{
	position: absolute;
	top: 72%;
	left: 22%;
}
#food1,#food2,#food3,#food4{
	margin-top: 1rem;
}
#merch1,#merch2,#merch3,#merch4{
	margin-top: 1rem;
}
#merchTeam1,#merchTeam2,#merchTeam3,#merchTeam4{
	margin-top: 1rem;
}
.merch-container-fluid .location{
	margin-bottom: 0rem;
}

#merchTeam_img0{
	position: absolute;
	top: 37.5%;
	left: 42%;
}
#merchTeam_img1{
	position: absolute;
	left: 49%;
	top: 52%;
}
#merchTeam_img2{
	position: absolute;
	top: 58%;
	left: 1%;
}
#merchTeam_img3{
	position: absolute;
	top: 71%;
	left: 54%;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.greenFilled {
    width: 35px;
    height: 35px;
    background:mediumaquamarine;
}
.greenUnfilled{
	width: 35px;
    height: 35px;
	border: 4px solid mediumaquamarine;
}
.yellowFilled {
    width: 35px;
    height: 35px;
	background:yellow;
}
.yellowUnfilled{
	width: 35px;
    height: 35px;
	border: 4px solid yellow;
}
.redFilled{
	width: 35px;
    height: 35px;
	background:rgba(235, 0, 0,0.7);
}
.redUnfilled{
	width: 35px;
    height: 35px;
	border: 4px solid rgba(235, 0, 0,0.7);
}
.circle{
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.status{
	font-family: qualcommRegular;
	text-align: center;
	color: rgba(0,0,0,0.7);
	margin-bottom: 0.75rem;
	margin-top: -0.5rem;
}
#medical_img0{
	position: absolute;
	top: 35%;
	left: 35%;
}
#medical_img1{
	position: absolute;
	top: 37%;
	left: 77%;
}
#medical_img2{
	position: absolute;
	top: 68%;
	left: 13%;
}
#medical_img3{
	position: absolute;
	top: 69%;
	left: 82%;
}
#security_img0{
	position: absolute;
	top: 27%;
	left: 5%;
}
#security_img1{
	position: absolute;
	top: 14%;
	left: 43%;
}
#security_img2{
	position: absolute;
	top: 55%;	
	left: 33%;
}
#security_img3{
	position: absolute;
	top: 69%;
	left: 76%;
}
#video{
	object-fit: initial;
	height: 320px;
}
.capacity{
	text-align: center;
}